<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
	  <link rel = "stylesheet"href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' type='text/css'>

	 <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
	 <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	 <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.15/leaflet-providers.js
"></script>
		<link rel="stylesheet" href = "stylesheets/styles.css"/>
</head>
<body>
	 <div id="map"></div>

   <button class = 'btn-custom'> <a href="/femalePop">Next Page</a></button>
	 
	<script src = "javascripts/MalePops.js"></script>
<!--	<script src = "jquerymethods.js"></script>-->
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/0.0.39/topojson.js"></script>

</body>
</html>
